@font-face {
  font-family: Rugen;
  src: url("../assets/fonts/RugenExpanded.otf");
}
:root {
  --color-background: #000;
  --color-text: #ebebeb;
  --color-orange: #FFAB70;
  --color-red: #F97583;
  --color-purple: #B390D3;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Rugen;
}

* {
  user-select: none;
  scroll-behavior: smooth;
}

hr {
  position: absolute;
  left: 10vw;
  width: 80vw;
  border: 1px solid var(--color-orange);
}

.txt-orange {
  color: var(--color-orange);
}

.txt-red {
  color: var(--color-red);
}

.txt-purple {
  color: var(--color-purple);
}

nav {
  position: absolute;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  z-index: 1;
}
nav .nav-group {
  display: flex;
  width: 33vw;
}
nav .nav-group:nth-child(1) {
  justify-content: start;
}
nav .nav-group:nth-child(2) {
  justify-content: center;
}
nav .nav-group:nth-child(3) {
  justify-content: end;
}
nav .nav-group div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(5vh - 2px);
}
nav .nav-group h1 {
  background-color: var(--color-text);
  /* background: linear-gradient(90deg, var(--color-orange), var(--color-red)) */
  color: var(--color-background);
  margin: 0;
  padding: 0.3vh 0.7vw;
  font-size: 2rem;
}
nav .nav-group a {
  color: var(--color-text);
  font-size: 2rem;
  padding: 0 1vw;
  text-decoration: none;
}
nav .nav-group a:hover, nav .nav-group a:focus {
  outline: none;
  background-color: var(--color-text);
  color: var(--color-background);
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: url("../assets/imgs/background.gif") rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-attachment: fixed;
  z-index: -1;
}
.hero div {
  margin: 0 12vw;
}
.hero h1 {
  font-size: 7vw;
  margin: 0;
}
.hero h2 {
  font-size: 3.15vw;
  margin: 0;
}

.marquee {
  height: 20vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 5vw;
  position: relative;
  user-select: none;
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  background: url("../assets/imgs/marquee.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marquee .marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 5vw;
}
.marquee .marquee-content span {
  font-size: 7vw;
}

.scroll {
  animation: scroll 10s linear infinite;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url("../assets/imgs/noise.gif") rgba(0, 0, 0, 0.95);
  background-blend-mode: multiply;
  background-size: auto;
  background-repeat: repeat;
  z-index: 6;
  height: 180vh;
}
.projects .project {
  display: flex;
  justify-content: space-around;
}
.projects .project img {
  width: 45vw;
  border: 1px solid var(--color-text);
}
.projects .project h2 {
  font-size: 1vw;
  color: var(--color-red);
}
.projects .project h1 {
  font-size: 2vw;
}
.projects * {
  margin: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 5vw));
  }
}
.effects {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.effects .border-fx {
  position: absolute;
  display: block;
  height: 10vh;
  width: 10vh;
}
.effects .border-fx.top-left {
  border-top: 2vh solid #fff;
  border-left: 2vh solid #fff;
  top: 12vh;
  left: 5vw;
}
.effects .border-fx.bottom-right {
  border-bottom: 2vh solid #fff;
  border-right: 2vh solid #fff;
  bottom: 8vh;
  right: 5vw;
}

/*# sourceMappingURL=global.css.map */
